body{
    background: var( --background-color);
    text-align: center;
    margin: 5px;
}
.wrap{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto ;
}

figure {
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}

img {
    width: 60%;
    max-height: 150px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}
img:hover{
    transform: scale(2.1);
}

a img {
    width: 5%;
}
   