@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");

:root{
  --text-color:#C4C4C4;
  --background-color: #043b15;
  --li-color: rgba(14, 180, 221, 0.336);
  --li-child-color:#bb0000;
  --text-shadow-color: #6264cf;
}
body{
    max-width: 1440px;
    color:var( --text-color);
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color:var( --text-color);
}
.continer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto 150px;
    grid-template-areas: 
    'header header header'
    'main main main'
    'aside aside aside'
    'footer footer footer';
}
.flex-box{
  display: flex;
  justify-content: space-around;
  min-width: 21rem;
  min-height: 90px;
  background:var( --background-color);
}
/*-----------headerstyle--------------*/
.header{
  grid-area: header;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}
.header article{
  align-self: center;
}
.header .item1{
  /*align-self: center;*/
  font-size: 2.9rem;
  font-weight: 700;
  text-shadow: 4px 3px  var(  --text-shadow-color);
}
.header .item2{
  /*align-self: center;*/
  width: 10%;
  margin: 0;
}
.header .item2 figure{
  padding: 0;
  margin: 0;
}
.header .item2 figure img{
  width: 100%;
}
.header .item2 figure img:hover{
  opacity: .5;
}
.header .item3 ul{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
}
.header li:nth-child(1):hover{
 color: var(--li-child-color);
}
.header li:hover{
  color: var( --li-color);
  cursor: pointer;
}
/*-------------Main style-------------*/
.main{
  grid-area: main;
  display: block;
  position: relative;
  z-index: -1;
}
.main article{
  width: 100%;
  margin: 0;
}
.main figure{
  /*max-height: 950px;*/
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.main figure img{
    width: 100%;
}
/*--------------Aside style------------*/
.aside{
  grid-area: aside;
}
.next{
 right: 0;
}
.aside a{
  position: absolute;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  top: 50%;
}
/*------------Footer style--------------*/
.footer {
    grid-area: footer;
}
.footer section{
  align-self: center;
}
.footer h3{
  margin: 0;
}
.footer .item3 img{
  width: 31.9%;
}
.footer img:hover{
    opacity: 0.5;
}
.home{
  animation-name: home;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
@keyframes home{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
/*--------@media style---------*/
@media screen and (min-width:640px){
        .continer{
grid-template-columns: 100%;
grid-template-areas: 
'header'
'main'
'aside'
'footer';
}

}